<table class='table'>
  <tr><%= image_tag user.get_profile_image, size:'100x100' %></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
  <tr>
	  <th>follows</th>
	  <th><%= link_to user.followers.count,followers_index_path(user.id) %></th>
  </tr>
  <tr>
	  <th>followers</th>
	  <th><%= link_to user.followeds.count,followeds_index_path(user.id) %></th>
  </tr>
  <tr>
	  <th>

	  </th>
	  <th></th>
  </tr>
</table>

<% if !(user.name == "guestuser") %>
  <div class='row'>
    <% if user == current_user %>
      <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block edit_user_#{user.id}" do %>
        <i class="fas fa-user-cog"></i>
      <% end %>
    <% elsif user.already_followed_by?(current_user) %>
      <%= link_to "フォローを外す", user_relationship_path(user.id), method: :delete, class: "btn btn-outline-danger btn-block" %>
    <% else %>
      <%= link_to "フォローする", user_relationship_path(user.id), method: :post, class: "btn btn-outline-success btn-block" %>
    <% end %>
  </div>
<% end %>
